/* body{
    width: 1100px;
} */
 /* da decidere se impostare una larghezza  massima */


.intestazione {
    background-image: url(../img/pattern.png);
    background-color: lightskyblue;
    background-size: 25%;
    padding-bottom: 10px;
    padding-top: 40px;
    ;
}

#titolo{
    font-size: 75px;
    margin-bottom: 0;
}

.autore{
    margin: 0%;
    color: gray;
}

#scrittore{
    color: blue;

}

.data{
    font-size: 10px;
}

.fonti{
    margin: 0;
    font-size: 12px;
}

.evidenziato{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}